---
layout: default
weight: 2
title: Projecten en ervaringen
---
<section class="section {{page.class}}" data-slide="{{page.weight}}">
    <div class="container">

<section class="section work" data-slide="{{page.weight}}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2 class="title-section wow fadeInDown">{{page.title}}</h2>
                    <div class="separator_wrapper wow fadeIn">
                        <div class="separator_first_circle">
                            <div class="separator_second_circle_grey"></div>
                        </div>
                    </div>
                    <p class="subtitle wow fadeInDown">Ik heb uitgebreide ervaring opgedaan in Vlaamse, Brusselse en Australische kleuterschooltjes. Hier vinden jullie enkele leuke projecten die ik deed.</p>
                </div>
            </div>
            <div class="clearfix"></div>

            {% for post in site.posts %}
            {% if post.type == 'project' %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="r-item wow fadeInDown">
                    <a href="#" title="" data-toggle="modal" data-target="#{{post.title | slugify}}">
                        <img src="images/{{post.image}}" alt="">
                        <div class="project-info">
                            <div class="project-icon">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="separator_wrapper bounce_fade">
                                <div class="separator_first_circle">
                                    <div class="separator_second_circle_grey"></div>
                                </div>
                            </div>
                            <div class="details">
                                {{post.title}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endif  %}
            {% endfor  %}



        </div>
    </div>
</section>


            {% for post in site.posts %}
            {% if post.type == 'project' %}
    <div class="modal fade" id="{{post.title | slugify}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Sluiten"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel1">{{post.title}}</h4>
                </div>
                <div class="modal-body">
                    <img src="images/{{post.image}}" alt="" class="img-responsive" />
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
            {% endif  %}
            {% endfor  %}


</div>
</section>