<section class="section banner2" data-slide="1">
    <div class="wrap-circle">
        <div class="circle-1">
            <div class="circle-2">
                <div class="logo">
                    <h2>Hana <span>Vanroy</span></h2>
                    <div class="roles">
                        <div>Kei-coole kleuterjuf</div>
                        <div>Creatieve knutselaar</div>
                        <div>Klaargestoomd in Australie</div>
                        <div>Mooi muzikaal</div>
                        <div>Vrolijk, Rustig, Betrokken</div>
                        <div>Gepassioneerd</div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="wrap-overlay"></div>
</section>
